<launch>

	<include file="$(find skynav_tests)/launch/static_publisher.launch"/>
	
	<include file="$(find skynav_bringup)/launch/localnav/localnav_standalone_nogui.launch"/>
	
	<include file="$(find skynav_tests)/launch/test_OD.launch"/>

	<include file="$(find skynav_tests)/launch/test_LP.launch"/>
    
</launch>
