<launch>

	<group ns="control">
		<node pkg="skynav_control" name="motion_control" type="motion_control" output="screen"/>
		<node pkg="skynav_control" name="data_verifier" type="data_verifier" output="screen"/>
		<node pkg="skynav_control" name="waypoint_filter" type="waypoint_filter" output="screen"/>
	</group>
	
	<group ns="slam">
		<node pkg="skynav_slam" name="pose_estimation" type="pose_estimation" output="screen"/>
	</group>
	
</launch>
