<launch>
	<node name="skynav_gui" pkg="skynav_gui" type="skynav_gui.py" required="true" output="screen"/>
	
	<node name="global_planner" pkg="skynav_globalnav" type="global_planner" required="true" output="screen" />
	<node name="environment" pkg="skynav_globalnav" type="environment" required="true" />
	
	<node name="map_reader" pkg="skynav_slam" type="map_reader" required="true" />
</launch>
