<launch>

	<!-- skynav_control-->	
		<include file="$(find skynav_bringup)/launch/control.launch"/>

	<!-- localnav-->
		<include file="$(find skynav_bringup)/launch/localnav/localnav.launch"/>

	<!-- globalnav-->
		<include file="$(find skynav_bringup)/launch/globalnav/globalnav.launch"/>
	
	<!-- x80_drivers-->
		<include file="$(find skynav_bringup)/launch/x80_drivers.launch"/>
			
	<!-- skynav_gui-->	
		<include file="$(find skynav_bringup)/launch/gui.launch"/>
		
</launch>
