<launch>

    <arg name="use_gui" default="true" />
    <arg name="use_localnav" default="true" />
    <arg name="use_globalnav" default="true" />

	<!-- skynav_control-->	
		<include file="$(find skynav_bringup)/launch/control.launch" />

	<!-- localnav-->
		<include file="$(find skynav_bringup)/launch/localnav/localnav.launch" if="$(arg use_localnav)" />

	<!-- globalnav-->
		<include file="$(find skynav_bringup)/launch/globalnav/globalnav.launch" if="$(arg use_globalnav)" />
	
	<!-- skynav_gui-->	
		<include file="$(find skynav_bringup)/launch/gui.launch" if="$(arg use_gui)" />
		
</launch>
