<launch>

	<!-- globalnav-->	
		<include file="$(find skynav_bringup)/launch/globalnav/globalnav.launch"/>
		
	<!-- skynav_control-->	
		<include file="$(find skynav_bringup)/launch/control.launch"/>

	<!-- x80_drivers-->
		<include file="$(find skynav_bringup)/launch/x80_drivers.launch"/>
	
</launch>
