<launch>

	<group ns="globalnav">
		<node pkg="skynav_globalnav" name="global_planner" type="global_planner" required="true" output="screen" />
		<node pkg="skynav_globalnav" name="environment" type="environment" required="true" />
	</group>	
	
	<group ns="slam">
		<node pkg="skynav_slam" name="map_reader" type="map_reader" required="true" />
	</group>	

</launch>
