<launch>
	<group ns="gui">
		<node pkg="skynav_gui" name="skynav_gui" type="skynav_gui.py" required="true" output="screen"/>	
	</group>
	
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find x80sv_description)/urdf/x80sv.xacro'" />

	<group ns="robot">
		<rosparam file="$(find skynav_x80sv)/x80_config.yaml" command="load"/>
		<node pkg="skynav_x80sv" name="x80_robot" type="x80_robot" output="screen"/>	
		<!-- <node pkg="skynav_x80sv" name="input_keyboard" type="input_keyboard" output="screen"/> -->
		<!-- <node pkg="skynav_x80sv" name="neato_laser_publisher" type="neato_laser_publisher" output="screen"/> -->
		<node pkg="skynav_x80sv" name="robot_wrapper" type="robot_wrapper" output="screen"/>
		<node pkg="skynav_x80sv" name="sensor_safety" type="sensor_safety" output="screen"/>
	</group>

	<group ns="globalnav">
		<node pkg="skynav_globalnav" name="global_planner" type="global_planner" output="screen"/>
		<node pkg="skynav_globalnav" name="environment" type="environment" output="screen"/>
	</group>
	
	<group ns="control">
		<node pkg="skynav_control" name="motion_control" type="motion_control" output="screen"/>
		<node pkg="skynav_control" name="data_verifier" type="data_verifier" output="screen"/>
		<node pkg="skynav_control" name="waypoint_filter" type="waypoint_filter" output="screen"/>
	</group>
	
	<group ns="SLAM">
		<node pkg="skynav_SLAM" name="pose_estimation" type="pose_estimation" output="screen"/>
		<node pkg="skynav_SLAM" name="map_reader" type="map_reader"/>
	</group>
	
	<group ns="localnav">
		<node pkg="skynav_localnav" name="obstacle_detector" type="obstacle_detector" output="screen"/>
		<node pkg="skynav_localnav" name="local_planner" type="local_planner" output="screen"/>
	</group>
	
	<node pkg="rviz" name="rviz" type="rviz" required="true"/>
	
</launch>